<div class="container-inner container-inner--slider">
    {% set count = entry.slider.all()|length %}
    <div class="slider" data-pos="0">
        <div class="slider__slides" style="width: {{ count * 100 }}%;">
            {% for slide in entry.slider.all() %}
                <div class="slider__slide" style="width: {{ 100 / count }}%;">
                    {% if slide.icon %}
                        {% set icon = slide.icon.one() %}
                        {% if icon.extension == "svg" %}
                            {{ svg(icon) }}
                        {% else %}
                            <img src="{{ icon.url }}" alt="{{ icon.title }}" width="{{ icon.width }}" height="{{ icon.width }}">
                        {% endif %}
                    {% endif %}
                    {% if slide.category %}
                        <span>{{ slide.category }}</span>
                    {% endif %}
                    <h2>{{ slide.headline }}</h2>
                    {% if slide.text %}
                        <p>{{ slide.text }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="slider__dots">
            <div class="slider__indicator"></div>
            {% for slide in entry.slider.all() %}
                <div class="slider__dot" data-pos="{{ loop.index - 1 }}"></div>
            {% endfor %}
        </div>
    </div>
    <script src="/assets/js/slider.js"></script>
</div>